.b-slides {
	.__number {
		color: rgba(172, 142, 142, 0);
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: rgba(126, 182, 255, 0.6);
		font-weight: 800;
	}

}

.usage-swiper,
.usage-swiper .swiper-wrapper,
.usage-swiper .swiper-slide {
	touch-action: none !important;
	cursor: default !important;
	/* Zmieniamy też kursor, aby nie sugerował przeciągania */
}