.b-text {
	.__content {
		.__txt {
			a {
				color: #FFF !important;
				text-decoration: underline !important;
			}

			p {
				margin-bottom: 16px !important;
			}
		}

		ul {
			list-style-type: disc;
			padding-left: 1.5rem;
			margin-bottom: 1rem;
		}

		ol {
			list-style-type: decimal;
			padding-left: 1.5rem;
			margin-bottom: 1rem;
		}
	}
}

.b-text.oplaty {
	h2 {
		font-size: 28px !important;
		line-height: 36px !important;
		margin-bottom: 24px !important;
	}
}

.b-text.s-program {
	.__content {
		width:65%;
	}
}

/*---- MD --*/
@media only screen and (max-width: 768px) {
	.b-text.s-program {
		.__content {
			width:100%;
		}
	}
}